<h1> Pedro's Paradise</h1>

<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="side_menu">
    <img src="{{ url_for('static', filename = 'image/penguin.png' )}}" class="image" class="side_menu">
    <ul class="side_menu">
            <li><a href="/"> Home </a></li>
            {%if logged_in%}
            
            <li><a href="/logout">Logout</a></li>
            <li><a href="/create_message">Create Message</a></li>
            <li><a href="https://github.com/mikeizbicki/cmc-csci040/tree/2022fall/project_05">Project Specifications</a> </li>


            {%else%}
            <li><a href="/login">Login</a></li>
            <li><a href="/create_user">Create User</a></li>
            <li><a href="https://github.com/mikeizbicki/cmc-csci040/tree/2022fall/project_05">Project Specifications</a> </li>
            {%endif%}
    </ul>
</div>

{%block content%}
{%endblock%}