{%extends 'base.html'%}

{% block content %}
<div class="main">
    
<h2>Change your password</h2>
</div>
<div class="main2">
{% if blank %}
Please input your info 
{%endif%}

{% if  p_perror %}
Please make sure you confirm your password
{%endif%}

{% if op_error  %}
Incorrect password, please try again
{%endif%}

{% if changed  %}
You have changed your password 
{%endif%}

<form action="/change_password" method="post">
    <table>
        <tr>
            <td>Old password </td>
            <td><input type="password" name="old_password"></td>
        </tr>
        <tr>
            <td>New password </td>
            <td><input type="password" name= "password1"></td>

        </tr>
        <tr>
            <td> Confirm password </td>
            <td><input type="password" name = "password2"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="change password" ></td>
        </tr>
        </tr>
    </table>
</form>

</div>
{%endblock%}

