{%extends 'base.html'%}


{% block content %}
<body>
<div class="main">

{% for message in messages %}
    <p class="post_box">
    {{message['username']}} ({{message['age']}}): {{message['message']}} <div class="time_stamp">{{message['posted_at']}}</div>
    </p>
{% endfor %}
</div>
<form action="/" method="post"></form>
<table>
    <tr>
        <td>
        <button type="button" value="back_page" id="back_page">back</button>
        </td>
        <td>
            <button type="button" value="next_page" id="next_page" >next</button>
        </td>
    </tr>
</table>

</body>

{% endblock %}
