{%extends 'base.html'%}


{% block content %}
<body>
<div class="main">
    <h2>Home</h2>
</div>
<div class="main2">
{% for message in messages %}
    <p class="post_box">
    <img src="{{message['prof_pic']}}" alt="Imagine there is a picture" width="30px">
    {{message['username']}} ({{message['age']}}): {{message['message']}} <div class="time_stamp">{{message['posted_at']}}</div>
    </p>
{% endfor %}

<form action="/" method="post"></form>
<table>
    <tr>
        <td>
        <button type="button" value="back_page" id="back_page">back</button>
        </td>
        <td>
            <button type="button" value="next_page" id="next_page" >next</button>
        </td>
    </tr>
</table>

</body>
</div>
 {%for script in scripts%}
<script>
offset = 0
project.back_page.addEventListener('click', create_messages(offset), {offset
    
  });

root.next_page.addEventListener('click', create_messages(1), {
  });
</script>
{%endfor%}
{% endblock %}
